#waveContainer {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; /* Ensure the SVG is behind other content */
}

#topbar-wrapper {
  background-color: transparent;
  height: 4em;
}

footer {
  background-color: transparent;
  height: 5rem;
  border-top: 1px solid var(--main-border-color);
}

:root {
  --text-muted-color: #8f9499; /* Update this value to your desired color */
  /* other variables */
}

.post-preview {
  background: rgba(31, 31, 31, 0.81);
}

.post-preview:hover {
  opacity: 0.6;
}

#post-list .card .card-body .card-title {
  color: #ffffff !important;
}

#post-list .card .card-body .post-meta,
#post-list .card .card-body .card-text.content {
  color: #c9c6c6 !important;
}

.text-truncate {
  color: #c9c6c6 !important;
}
